.header-container{
    position: relative;
    height: 700px;
    background-image: url(../../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header-container::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: #3A4256;
    width: 30%;
    height:100%;
    z-index: -111;
}